<% if result.present? && result.key?(:deepL) && result[:deepL].present? && result.key?(:yandex) && result[:yandex].present? %>
  <p> Translation (DeepL) <p>
  <%= result[:deepL] %>

  <p>Yandex dictionary</p>
  <%= result[:yandex] %>
<% elsif result.present? && !result[:yandex].present? %>
<p> Translation (DeepL) <p>
  <%= result[:deepL] %>
<% end %>
